
[data-ui-view="privateContent"] {
  margin: 0 auto;
  max-width: 700px;
  width: 94%;
  padding-top: 30vh;
  @include media("height<=600px") {
    padding-top: 15vh;
  }
  .spinner {
    text-align: center;
    font-size: 3em;
  }
}


@import 'rooms';
@import 'room';
