
.user-form {
  
  padding-top: 30vh;
  @include media("height<=730px") {
    padding-top: 15vh;
  }

  header {
    margin-bottom: 2em;
    text-align: center;
  }
  fieldset:last-of-type {
    .form-line:last-child {
      margin-bottom: 1em;
    }
  }
  .form-field-error {
    position: absolute;
  }

  .form-line {
    margin-bottom: 4em;
  }

}

